## GitLab URL
external_url '{{ gitlab_external_url }}'

## Geo Secondary Configuration
geo_primary_role['enable'] = false
geo_secondary_role['enable'] = true

## GitLab Rails
gitlab_rails['db_password'] = '{{ gitlab_db_password }}'

## PostgreSQL configuration
postgresql['shared_preload_libraries'] = '{{ gitlab_postgresql_shared_preload_libraries }}'

## Geo node name
gitlab_rails['geo_node_name'] = '{{ gitlab_geo_node_name }}'

## Geo secondary tracking database
geo_secondary['db_fdw'] = true

## Primary database connection
geo_postgresql['enable'] = true
geo_postgresql['fdw_external_user'] = 'gitlab_replicator'
gitlab_rails['db_host'] = '{{ gitlab_primary_db_host }}'
gitlab_rails['db_port'] = {{ gitlab_primary_db_port }}

## Disable writes on secondary
gitlab_rails['db_readonly'] = true
